
.list-items {
    width: 350px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 3.2vh;
    margin-block: 1rem;
    background-color: var(--bg-color-secondary);
    border: 1px solid var(--border-color);
    padding-block: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 5px 5px rgb(238, 238, 238);
  }

  .checked-list-container {
    margin-bottom: 9rem;
  }

  .list-item {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0.5rem 0;
    border-bottom: 1px solid var(--border-color);
    padding-block: 1rem;
    margin-inline: 0.5rem;
    animation-name: slideIn;
    /* animation-duration: 0.5s;
    animation-iteration-count: 1; */
  }
/* 
  @keyframes slideIn {
    0% {
      opacity: 0%;
      transform: translateX(-100%);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  } */
  
  .list-item-text {
    max-width: 8rem;
    word-wrap: break-word;
    overflow: hidden;
  }
  
  .list-quantity-input {
    font-size: 0.8rem;
    padding-block: 0.3rem;
    padding-inline: 0.3rem;
    width: 1rem;
    text-align: center;
    box-shadow: 1px 1px 5px var(--border-color);
  }
  
  .list-item-menu-dots {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 1.2rem;
  }

  /* .list-item-menu-dots:hover {
    color: gray;
  } */
  
  .list-item-right-div {
    display: flex;
    align-items: center;
  }

  .list-item-right-div button {
    padding: 0.5rem;
    padding-inline: 0.75rem;
    margin-block: 0;
    box-shadow: 1px 1px 5px var(--border-color);
  }

  
  .list-item-category {
    position: absolute;
    z-index: 0;
    padding: 0;
    margin: 0;
    width: max-content;
    font-size: 0.7rem;
    top: 0rem;
    left: 0.15rem;

  }

  .list-item-category-form {
    border: none;
    font-size: 0.7rem;
    position: absolute;
    z-index: 1;
    top: -0.35rem;
    left: -0.4rem;
    margin: 0;
  }
  
  .list-item-category-form > input[type="text"] {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
    text-indent: 7px;
    font-weight: bold;
    color: rgb(63, 130, 56)

  }

  /* .list-item-category-form > input[type="text"]:focus, .list-item-category-form > input[type="text"]:focus:hover {
    background-color: white;
    cursor: text;
    text-decoration: none;
    font-weight: normal;
    color: black;
  }

  .list-item-category-form > input[type="text"]:hover {
    cursor: pointer;
    text-decoration: underline;
  } */



  
  .list-item-category-form > input {
    width: fit-content;
    margin: 0;
    color: var(--text-color);
    border:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .checkbox{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 0.5rem;
    color: var(--checkbox-color);
  }

  .quantity {
    cursor: pointer;
  }

  .checked-title {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.2rem;
  }
  

  .checked-title > h4 {
    margin-block: 0;
    margin-inline: 1rem;
    white-space: nowrap;
  }

  .clear-button {
    margin-inline: 0.5rem;
    cursor: pointer;
    padding-block: 0.4rem;
    padding-inline: 0.9rem;
    font-size: 0.8rem;
  }
  
  .line-1, .line-2, .line-3, .line-4, .line-5 {
    border-top: 1px solid var(--border-color);
    width: 100%;
    height: 1px;
    padding: 0px;
  }
  
  .line-1 {
    width: 100%;
  }
  
  .line-2 {
    width: 100%;
  }
  
  .line-3 {
    width: 100%;
  }
  
  .line-4 {
    width: 15%;
  }
  
  .line-5 {
    width: 15%;
  }

 .vertical-line {
  position:absolute;
  height: 114%;
  margin-left: -4px;
  bottom: -1px;
  width: 1px;
  background-color: var(--border-color);
 }

 .first-vertical-line {
  position: absolute;
  height: 93%;
  bottom: -1px;
  margin-left: -4px;
  width: 1px;
  background-color: var(--border-color);

 }

 .first-horizontal-line {
  position: absolute;
  border-top: 1px solid var(--border-color);
  top: 0;
  margin-top: 5px;
  width: 4px;
  margin-left: -4px;
 }


 .last-horizontal-line {
  position: absolute;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: -1px;
  bottom: 0;
  width: 4px;
  margin-left: -4px;
  /* position: absolute;
  height: 1px;
  margin-top: 63px;
  margin-left: -4px;
  width: 5px;
  background-color: var(--border-color); */
 }

 .list-item-hint {
  color: var(--tooltip-text-color);
  animation-name: fadeIn;
  animation-duration: 150ms;
 }

 .add-item-hint {
  color: var(--tooltip-text-color);
  margin-inline: 4.5rem;
  animation-name: fadeInSlideIn;
  animation-duration: 0.5s;
  cursor: pointer;
 }



@keyframes fadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  
}


 @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
 }