:root {
  /* For mobile */
  touch-action: pan-x pan-y;
  height: 100%;


  /* --text-color: rgb(16, 15, 0);
  --bg-color-primary: #edf6ec;
  --bg-color-secondary: #e0f4df;
  --border-color: #8fc293;
  --button-color: rgb(166, 213, 162);
  --background-gradient-start: rgba(255,255,255,1);
  --background-gradient-end: rgb(61, 142, 45);
  --checkbox-color: var(--button-color); 
  --dropdown-tip-color: rgb(80, 80, 80);
*/
  --text-color: rgb(224, 224, 224);
  --bg-color-primary: #319b33;
  --bg-color-secondary: #1a1c1a;
  --border-color: #000000;
  --button-color: rgb(18, 18, 18);
  --background-gradient-start: rgb(33, 33, 33);
  --background-gradient-end: rgb(0, 0, 0);
  --checkbox-color: #000000;
  --dropdown-tip-color: rgb(105, 105, 105);
  --cross-color: #000000;
  --cross-color-hover: #319b33;
}

html, body {
  position:relative;
  /*overflow:hidden;*/
  height: 100%;
}

body {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, var(--background-gradient-start) 92%, var(--background-gradient-end) 100%); 
  background-attachment: fixed;
  min-height: 100vh;
  background-color: var(--bg-color-primary);
  color:var(--text-color);
  min-width: 100vw;
}

.App {
  text-align: center;
}

.App > h3 { 
  margin-top: 0;
  padding-block: 0.3rem;
  padding-top: 2rem;
  color: var(--text-color);
  box-sizing: border-box;
}

form {
  max-width: 350px;
  border-radius: 7px;
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  align-items: center;
  display: flex;
  width: 100%;
}

form > button {
  margin-right: 1rem;
  font-size: 1.1rem;
}

form > input[type="text"], textarea {
  font-size: 1.1rem;
  background-color : var(--bg-color-secondary);
  color: var(--text-color);
  appearance: none;
  border: none
}

form > input {
  max-width: 300px;
  width: 100%;
  padding: 1rem;
  margin: 0;
  color: var(--text-color);
  border:0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"], textarea {
  background-color : var(--bg-color-primary);
  min-height: 1.5rem;
  min-width: 1.5rem;

  border: 1px solid var(--border-color);
  color: var(--text-color);
}


.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

button {
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
  border-radius: 5px;
  padding-inline: 0.25rem;
  border-color: var(--border-color);
  background-color: var(--button-color);
  box-shadow: 1px 1px 1px var(--border-color);
  border: none;
  padding: 0.3rem 0.6rem;
  margin: 0.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.cross {
  cursor: pointer;
  font-size: 1rem;
  color: var(--cross-color);
  padding-block: 0.2rem;
  margin-top: 0.3rem;
  padding-inline: 0;
  border-radius: 5px;
}

.cross:hover {
  color: var(--cross-color-hover);
  transition: color 100ms ease;
}

