.mini-menu-dropdown {
    position: absolute;
    list-style: none;
    background-color: var(--bg-color-secondary);
    right: 1rem;
    padding-block: 1rem;
    top: calc(50% - 1rem);
    z-index: 5;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    box-shadow: 1px 1px 5px var(--border-color);
    cursor: pointer;
   }

   .mini-menu-dropdown-item {
    margin: 0;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
    margin-block: 0.3rem;
    padding-inline: 0.8rem;
    text-align: center;
    position: relative;
  }

  .mini-menu-dropdown-item:hover {
    color: gray;

  }