.mini-menu-dropdown {
    position: fixed;
    list-style: none;
    background-color: var(--bg-color-secondary);
    padding-block: 1rem;
    width: 95vw;
    max-width: 400px;
    bottom: 20px;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    box-shadow: 1px 1px 5px var(--border-color);
    cursor: pointer;
   }

   .mini-menu-dropdown-item {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 0.5rem;
    padding-inline: 1rem;
    text-align: center;
    position: relative;
    width: fit-content;
    padding-inline: 1rem;
  }

  .mini-menu-dropdown-arrow {
    margin-right: 0.3rem;
  }

  .mini-menu-dropdown-cross {
    font-size: 0.8rem;
    margin-right: 0.5rem;
    margin-left: 0.1rem;
  }

  .mini-menu-dropdown-checkbox {
    margin-right: 0.3rem;
    margin-left: 0;
  }

  .mini-menu-dropdown-item:hover {
    color: gray;

  }